.errorlist {
  color: red;
}

.divider {
  margin-top: 10px;
}

/* .media_profile {
  box-shadow: 3px 0px 6px black;
  padding: 1rem;
  width: 70%;
  margin: 5% auto;
  background: rgb(240, 237, 227);
  color: rgb(124, 78, 120);
  display: flex;
  align-items: center;
}
*/


.media_info > h1 {
  font-size: 2.6rem;
  border-bottom: 1px solid;
  font-family: fantasy;
} 

.p_image {
  box-shadow: 3px 0px 6px black;
  margin:1.1em 0;
}

#confirm-btns {
  padding-top: 1em;
}


