{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'blog/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body class="grey lighten-2">
    {% if user.is_authenticated %}
    <nav class="blue-grey darken-4">
      <div class="nav-wrapper container">
        <a href="{% url 'home' %}" class="brand-logo">TunGBLoG</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li class="">
            <a class="chip" href="{% url 'profile' %}">{{user|capfirst}}</a>
          </li>
          <li>
            <a href="{% url 'create' %}">New Post</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    {% else %}
    <nav class="blue-grey darken-4">
      <div class="nav-wrapper container">
        <a href="{% url 'home' %}" class="brand-logo">TunGBLoG</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li>
            <a href="{% url 'register' %}">Register</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
    </ul>
    {% endif %} {% if messages %} {% for message in messages %}
    <div class="container">
      <div class="card green lighten-3 z-depth-0 center">{{message}}</div>
    </div>
    {% endfor %} {% endif %} {% block content %} {% endblock content %}
    <script src="{% static 'blog/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
