{% extends 'blog/base.html' %} {% block content %}
<div class="container">
  {% for post in posts %}
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img
            src="{{post.author.profile.image.url}}"
            alt=""
            class="circle responsive-img"
          />
          <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="blue-text"><b>{{post.author|capfirst}}</b></span>
          <span><small>{{post.date_posted | date:"F d, Y"}}</small></span>
          <div class="divider"></div>
          <h5 class="">
            <a href="{% url 'detail' post.pk %}">{{post.title}}</a>
          </h5>
          <span class="black-text">By {{post.content}} </span>
          <div class="divider"></div>
          <span class=""><div class="red-text"><a href="">comments</a><span class="secondary-content">0</span></div></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock content %}
</div>
