{% extends 'blog/base.html' %} {% block content %}
<div class="container">
  <div class="row card z-depth-0">
    <div class="col s12 m3 center" id="immg">
      <img
        class="circle responsive-img p_image"
        src="{{user.profile.image.url}}"
        alt="uer profile image"
      />
    </div>
    <blockquote class="col s12 m9 center grey darken-4 white-text">
      <h1 class="">{{user|capfirst}}</h1>
      <p>{{user.email}}</p>
    </blockquote>
  </div>
  <!-- form here -->
  <form
    action=""
    method="post"
    enctype="multipart/form-data"
    class="card-panel"
  >
    {% csrf_token %} {{u_form.as_p}} {{p_form.as_p}}
    <button class="btn" type="submit">Update</button>
    <div class="divider"></div>
  </form>
</div>
{% endblock content %}
